[main]
Description=HTW Internet Profil 3
!Host=vpn.htw-dresden.de
!AuthType=1
!GroupName=IPSecGroup3
!GroupPwd=
!enc_GroupPwd=231DDA37A6366F251F0436EE95AE479EA854DCBB58DE3873CD15A9E567DCDF8EAC339A17DAB2ED0916E39E4993395DAB
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
!Username=
!SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
