/*********************************************************************
 * 0. Vokabeltrainer spezifisches
 *
 */


/* Das Feld für die Vokabelabfrage */
.voc {
	float: left;
	padding: 15px;
	height: 300px;
	border: 0px solid hsl(50, 50%, 95%);
	background: hsl(50, 50%, 95%);
}

.spa {
	text-size: 150%;
}

#vocForm input[type=submit]{
	margin: 10% 10%;
	background: red;
}

/* Schaltflächen für die Richtung der Vokabelabfrage */

#direction {
	clear: both;
	text-align: center;
}
#direction div {
	display: inline-block;
	padding: 0;
	margin: 0;
}
#direction div {
	margin: 5px;
	margin-right: 1em;
}
#direction div a {
	padding: 0.15em 0.5em;
	text-decoration: none;
	font-size: 120%;
	display: block;
	border: 0px solid hsl(75, 50%, 95%);
	background: hsl(75, 50%, 95%);
	color: hsl(75, 25%, 5%);
}
#direction div a:hover {
	background: hsl(75, 45%, 90%);
	color: hsl(75, 50%, 5%);
}
#direction div.current a {
	background: hsl(75, 45%, 90%);
	color: hsl(75, 50%, 5%);
	border: 3px solid hsl(75, 50%, 30%);
}

/* Vokabelauswahl */
.selection,
.selection li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.selection li {
	margin: 10px 5%;
}
.selection a {
  display: flex;
  align-items: center;
	padding: 0.5em;
	text-decoration: none;
	border: 0px solid hsl(50, 50%, 95%);
	background: hsl(50, 50%, 95%);
	color: hsl(75, 25%, 5%);
}
.selection a:hover {
	background: hsl(50, 45%, 90%);
	/*		border-color: hsl(75, 25%, 90%);*/
	color: hsl(50, 50%, 5%);
}
.selection li.current a {
	/*		border-color: hsl(50, 40%, 75%);*/
	background: hsl(50, 45%, 90%);
	color: hsl(50, 50%, 5%);
}
.selection li.edit a {
	background: hsl(50, 50%, 90%);
}
.selection a span {
  flex: 1;
}
.selection a i{
  flex: 0 0 auto;
}

/* Variable Größen  je nach Anzahl der Elemente pro Zeile */

.one,
.two,
.three {
	text-align: center;
	font-size: 125%;
	margin: 1% !important;
}

.one {
	width: 98%;
}
.two {
	width: 48%;
}
.three {
	width: 31%;
}

/* Blocksatz für Fließtext */

.justified {
	width: 100%;
	text-align: justify;
	text-justify: inter-word;
	padding: 20px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* Seitentitel im Header-Band */

.hblock h2 {
	text-align: center;
}

/* Ermittlung der Funktionalitäten */

.tasktext {
	color: darkblue;
}
.taskimg {
	color: darkgreen;
}
.taskimpl {
	color: darkmagenta;
}